<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta
      name="viewport"
      content="width=device-width, initial-scale=1.0, maximum-scale=1.0, user-scalable=no"
    />
    <link rel="icon" href="/style/favicon.ico" />
    <title>Markdown</title>
    <link rel="stylesheet" href="style/md.css" />
    <link rel="stylesheet" href="style/main.css" />
    <link title="dark" href="style/md-dark.css" disabled="" />
    <link title="light" href="style/md-light.css" disabled="" />
    <link title="auto" href="style/md-auto.css" disabled="" />
    <style id="dynamicStyle">
      body {
        background-color: white;
      }
      @media (prefers-color-scheme: dark) {
        body {
          background-color: black;
        }
      }
    </style>
    <script src='/NativeHook.js'></script>
    <script>
      let style = document.getElementById("dynamicStyle");
      if (!window.webkit) {
        style.removeAttribute("media");
      } else {
        style.setAttribute("media", "max-width: 1px");
      }
    </script>
  </head>
  <body>
    <div id="app" v-cloak>
      <div v-bind:style="appStyle">
        <div v-html="htmlContent"></div>
        <div v-if="isDebug">
          <hr class="dotted" />
          <div style="position: fixed; top: 10px; right: 10px">
            <label
              ><input
                type="radio"
                v-model="currentTheme"
                value="light"
              />Light</label
            >
            <label
              ><input
                type="radio"
                v-model="currentTheme"
                value="dark"
              />Dark</label
            >
            <label
              ><input
                type="radio"
                v-model="currentTheme"
                value="auto"
              />Auto</label
            >
          </div>
          <h3>Markdown</h3>
          <div id="content">
            <button @click="copyToClipboard" id="copyButton">Copy</button>
            <textarea
              contenteditable="true"
              type="text"
              v-model="content"
              id="inputArea"
            ></textarea>
          </div>
        </div>
      </div>
    </div>
    <script src="./main.js" type="module"></script>
    <script src="./PostNativeHook.js"></script>
    
  </body>
</html>
